/* In this stylesheet, we are going to be implementing all of the styles 
necessary for the index.html for module2 assignment */

/* Base Styling */
 * {
 	box-sizing: border-box;
 	font-family: Arial, Helvetica, sans-serif;
 	margin: 0;
 	padding: 0;
 }

/* This is going to style the header of the page. In this case, we want the 
header to be bigger than the rest of the text and we want it to also be in the
center of the page as seen in the mockup illustrations*/
div.title {
	font-size: 150%;
	padding: 5px;
	margin-bottom: 50px;
	margin-top: 40px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: max-content;
}

/* This is going to style the container that is going to hold the content. This
includes the section title and the dummy text. In otherwords, this is the grey
box that is surrounding the content. */
div.container {
	background-color: #C0C0C0;
	position: relative;
	padding: 0px;
	border: 1px solid black;
	margin: 5px;
}

/* This is going to include the styling and positioning for the section title. 
Meaning, this is going to ensure that the section title is always going to be
on the right corner of the box, which happens to the the containter mentioned
on the top. We also made the text a little smaller than the main title, but
also a bit larger than the dummy text*/
p.section {
	position: relative;
	width: 100px;
	border: 1px solid black;
	text-align: center;
	float: right;
	font-size: 100%;
}

/* The following three sections are just going to give the unique colors for 
each of the section titles. We use the sepecific ID for identifying which 
section title we want to color.*/
p#p1 {
	background-color: #edc8bb;
}

p#p2 {
	background-color: #ba9ea0;
}

p#p3 {
	background-color: #a3c4a3;
}

/* This portion is going to style the dummy text. All that was done here was 
added some padding so that there is space between the text and the surrounding
content. It also makes everything look less cramped. We also made the size of 
the thext to be smaller than both the main title and the section title.*/
p.text{
	padding: 20px;
	clear: right;
	font-size: 75%;
}

/* Now, we are going to change the base styling a bit and use media queries to 
achieve the different webpages for desktop, */
 
/* Desktop Styling */
@media (min-width: 992px){

	div.title {
		margin-bottom: 50px; 
	}

	.col-desktop-4, .col-desktop-6, .col-desktop-12{
 		float: left;
 		padding: 0.5%;
 	}

 	.col-desktop-4{
 		width: 33.33%;
 	}

 	.col-desktop-6{
 		width: 50%;
 	}

 	.col-desktop-12{
 		width: 100%;
 	}

 }

 /* Tablet Styling */
@media (min-width: 768px) and (max-width: 991px){

	div.title {
		margin-bottom: 25px; 
	}

	.col-tablet-4, .col-tablet-6, .col-tablet-12{
 		float: left;
 		padding: 0.5%;
 	}

 	.col-tablet-4{
 		width: 33.33%;
 	}

 	.col-tablet-6{
 		width: 50%;
 	}

 	.col-tablet-12{
 		width: 100%;
 	}


 }

 /* Mobile Styling */
@media (max-width: 767px){

	div.title {
		margin-bottom: 15px; 
	}

 	.col-mobile-4, .col-mobile-6, .col-mobile-12{
 		float: left;
 		padding: 0.5%;
 	}

 	.col-mobile-4{
 		width: 33.33%;
 	}

 	.col-mobile-6{
 		width: 50%;
 	}

 	.col-mobile-12{
 		width: 100%;
 	}

 }