
/* Let's first write the default styling for everything, then below we would add the media query styling the small things that we have to change */

/* Header Styling; Here we are just going 
*/

* {
 	font-family: Arial, Helvetica, sans-serif;
 	margin: 0px;
 	padding: 0px;
 }


#header-nav{
	background-color: #cccccc;
	border-radius: 0;
	border: 1px solid black;
}

.navbar-header{
	margin-top: 25px;
	margin-bottom: 25px;
}


.navbar-brand{
	width: max-content;
	height: max-content;
}

.navbar-brand h1 { 
	font-weight: bold;
  	color: black;
  	font-size: 2em;
  	margin: 0px;
  	margin-left: 20px;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid grey;
}

.navbar-header button.collapsed {
  border: 2px solid black;
}

#nav-list{
	background-color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}

#nav-list a{
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	border: 1px solid black;
	color: black;
}

#collapsable-nav{
	margin-top: 0px;
	margin-bottom: 0px;
}

.content {
	background-color: #C0C0C0;
}

.content h3{
	font-weight: bold;
	padding-top: 15px;
}

p.text{
	padding: 20px;
	clear: right;
}

.row {
	margin: 0px;
	padding: 0px;
}

.container-fluid{
	padding: 0px;
}